<section class="about-me section-margin" id="about-me">
  <div class="container about-conteiner">
    <h2 class="visually-hidden">About me</h2>
    <ul class="about-me-header">
      <li class="aboutme-header-list">
        <h3 class="aboutme-title">
          I work with people all over the world to create impressive and
          <span class="word-functional">functional</span>
          <span class="word-websites">websites</span> that reflect each client's
          unique personality.
        </h3>
      </li>
      <li class="aboutme-header-list photo">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-me/photo-desktop.webp    1x,
              ./img/about-me/photo-desktop@2x.webp 2x,
              ./img/about-me/photo-desktop@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/about-me/photo-desktop.jpg    1x,
              ./img/about-me/photo-desktop@2x.jpg 2x,
              ./img/about-me/photo-desktop@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-me/photo-tablet.webp    1x,
              ./img/about-me/photo-tablet@2x.webp 2x,
              ./img/about-me/photo-tablet@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/about-me/photo-tablet.jpg    1x,
              ./img/about-me/photo-tablet@2x.jpg 2x,
              ./img/about-me/photo-tablet@3x.jpg 3x
            "
            type="image/jpg"
          />
          <source
            srcset="
              ./img/about-me/photo-mobile.webp    1x,
              ./img/about-me/photo-mobile@2x.webp 2x,
              ./img/about-me/photo-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/about-me/photo-mobile.jpg    1x,
              ./img/about-me/photo-mobile@2x.jpg 2x,
              ./img/about-me/photo-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/about-me/photo-desktop.jpg"
            alt="Lloyd Jefferson"
            class="about-me-img"
            data-name="lloyd-jefferson"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="aboutme-accordion-container">
      <li class="aboutme-accordion-list">
        <h3
          class="about-me-subtitle aboutme-header-item"
          id="ac-trigger-0"
          aria-controls="ac-panel-0"
          aria-expanded="false"
        >
          About me
          <button
            type="button"
            class="aboutme-accordion-btn"
            aria-label="Toggle About Me section"
          >
            <svg class="aboutme-item-icon" width="20px" height="20px">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <div class="aboutme-accordion-text text-line">
          <p class="aboutme-item-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="aboutme-item-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="aboutme-accordion-list">
        <h3
          class="about-me-subtitle aboutme-header-item"
          id="ac-trigger-1"
          aria-controls="ac-panel-1"
          aria-expanded="false"
        >
          Role
          <button
            type="button"
            class="aboutme-accordion-btn"
            aria-label="Toggle Role section"
          >
            <svg class="aboutme-item-icon" width="20px" height="20px">
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </h3>

        <ul class="aboutme-accordion-text text-role-education">
          <li class="aboutme-item-text">Frontend development</li>
          <li class="aboutme-item-text">HeadlessCMS, Wordpress</li>
          <li class="aboutme-item-text">Blender (enjoy)</li>
        </ul>
      </li>

      <li class="aboutme-accordion-list">
        <h3
          class="about-me-subtitle aboutme-header-item"
          id="ac-trigger-2"
          aria-controls="ac-panel-2"
          aria-expanded="false"
        >
          Education
          <button
            type="button"
            class="aboutme-accordion-btn"
            aria-label="Toggle Education section"
          >
            <svg class="aboutme-item-icon" width="20px" height="20px">
              <use href="./img/icons.svg#expand"></use>
            </svg>
          </button>
        </h3>
        <ul class="aboutme-accordion-text text-role-education">
          <li class="aboutme-item-text">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="aboutme-item-text">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="aboutme-item-text">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </li>
    </ul>

    <div class="about-me-swiper-conteiner">
      <div class="about-me-swiper">
        <ul
          class="aboutme-swiper-wrapper swiper-wrapper animation-left animated-element"
        >
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">HTML/CSS</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">JavaScript</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">React</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">Node.js</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">React Native</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">Soft skills</div>
          </li>
          <!-- loop -->
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">HTML/CSS</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">JavaScript</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">React</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">Node.js</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">React Native</div>
          </li>
          <li class="swiper-element swiper-slide">
            <div class="swiper-icon">Soft skills</div>
          </li>
        </ul>
      </div>
      <button
        type="button"
        class="btn-aboutswiper-next"
        aria-label="Swipe slider"
      >
        <svg class="aboutme-icon">
          <use href="./img/icons.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
