<section class="covers container section-margin" id="covers">
  <h2 class="visually-hidden">Covers</h2>
  <div class="covers-background"></div>
  <div class="covers-wrapper">
    <ul class="covers-line">
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/chego-jewelry-desktop.webp    1x,
              ./img/covers/chego-jewelry-desktop@2x.webp 2x,
              ./img/covers/chego-jewelry-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/chego-jewelry-desktop.jpg    1x,
              ./img/covers/chego-jewelry-desktop@2x.jpg 2x,
              ./img/covers/chego-jewelry-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/chego-jewelry-mobile.webp    1x,
              ./img/covers/chego-jewelry-mobile@2x.webp 2x,
              ./img/covers/chego-jewelry-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/chego-jewelry-mobile.jpg    1x,
              ./img/covers/chego-jewelry-mobile@2x.jpg 2x,
              ./img/covers/chego-jewelry-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/chego-jewelry-desktop.jpg"
            alt="Chego Jewelry"
            class="covers-image"
            data-name="chego-jewelry"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/energyflow-desktop.webp    1x,
              ./img/covers/energyflow-desktop@2x.webp 2x,
              ./img/covers/energyflow-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/energyflow-desktop.jpg    1x,
              ./img/covers/energyflow-desktop@2x.jpg 2x,
              ./img/covers/energyflow-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/energyflow-mobile.webp    1x,
              ./img/covers/energyflow-mobile@2x.webp 2x,
              ./img/covers/energyflow-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/energyflow-mobile.jpg    1x,
              ./img/covers/energyflow-mobile@2x.jpg 2x,
              ./img/covers/energyflow-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/energyflow-desktop.jpg"
            alt="Energy Flow"
            class="covers-image"
            data-name="energyflow"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/fruitbox-desktop.webp    1x,
              ./img/covers/fruitbox-desktop@2x.webp 2x,
              ./img/covers/fruitbox-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/fruitbox-desktop.jpg    1x,
              ./img/covers/fruitbox-desktop@2x.jpg 2x,
              ./img/covers/fruitbox-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/fruitbox-mobile.webp    1x,
              ./img/covers/fruitbox-mobile@2x.webp 2x,
              ./img/covers/fruitbox-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/fruitbox-mobile.jpg    1x,
              ./img/covers/fruitbox-mobile@2x.jpg 2x,
              ./img/covers/fruitbox-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/fruitbox-desktop.jpg"
            alt="Fruit Box"
            class="covers-image"
            data-name="fruitbox"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/englishexcellence-desktop.webp    1x,
              ./img/covers/englishexcellence-desktop@2x.webp 2x,
              ./img/covers/englishexcellence-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/englishexcellence-desktop.jpg    1x,
              ./img/covers/englishexcellence-desktop@2x.jpg 2x,
              ./img/covers/englishexcellence-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/englishexcellence-mobile.webp    1x,
              ./img/covers/englishexcellence-mobile@2x.webp 2x,
              ./img/covers/englishexcellence-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/englishexcellence-mobile.jpg    1x,
              ./img/covers/englishexcellence-mobile@2x.jpg 2x,
              ./img/covers/englishexcellence-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/englishexcellence-desktop.jpg"
            alt="English Excellence"
            class="covers-image"
            data-name="englishexcellence"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/starlightstudio-desktop.webp    1x,
              ./img/covers/starlightstudio-desktop@2x.webp 2x,
              ./img/covers/starlightstudio-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/starlightstudio-desktop.jpg    1x,
              ./img/covers/starlightstudio-desktop@2x.jpg 2x,
              ./img/covers/starlightstudio-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/starlightstudio-mobile.webp    1x,
              ./img/covers/starlightstudio-mobile@2x.webp 2x,
              ./img/covers/starlightstudio-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/starlightstudio-mobile.jpg    1x,
              ./img/covers/starlightstudio-mobile@2x.jpg 2x,
              ./img/covers/starlightstudio-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/starlightstudio-desktop.jpg"
            alt="Starlight Studio"
            class="covers-image"
            data-name="starlightstudio"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="covers-line">
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/powerpulse-desktop.webp    1x,
              ./img/covers/powerpulse-desktop@2x.webp 2x,
              ./img/covers/powerpulse-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/powerpulse-desktop.jpg    1x,
              ./img/covers/powerpulse-desktop@2x.jpg 2x,
              ./img/covers/powerpulse-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/powerpulse-mobile.webp    1x,
              ./img/covers/powerpulse-mobile@2x.webp 2x,
              ./img/covers/powerpulse-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/powerpulse-mobile.jpg    1x,
              ./img/covers/powerpulse-mobile@2x.jpg 2x,
              ./img/covers/powerpulse-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/powerpulse-desktop.jpg"
            alt="Power Pulse"
            class="covers-image"
            data-name="powerpulse"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/mimino-desktop.webp    1x,
              ./img/covers/mimino-desktop@2x.webp 2x,
              ./img/covers/mimino-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/mimino-desktop.jpg    1x,
              ./img/covers/mimino-desktop@2x.jpg 2x,
              ./img/covers/mimino-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/mimino-mobile.webp    1x,
              ./img/covers/mimino-mobile@2x.webp 2x,
              ./img/covers/mimino-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/mimino-mobile.jpg    1x,
              ./img/covers/mimino-mobile@2x.jpg 2x,
              ./img/covers/mimino-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/mimino-desktop.jpg"
            alt="Mimino"
            class="covers-image"
            data-name="mimino"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/ukrainian_artistry-desktop.webp    1x,
              ./img/covers/ukrainian_artistry-desktop@2x.webp 2x,
              ./img/covers/ukrainian_artistry-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/ukrainian_artistry-desktop.jpg    1x,
              ./img/covers/ukrainian_artistry-desktop@2x.jpg 2x,
              ./img/covers/ukrainian_artistry-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/ukrainian_artistry-mobile.webp    1x,
              ./img/covers/ukrainian_artistry-mobile@2x.webp 2x,
              ./img/covers/ukrainian_artistry-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/ukrainian_artistry-mobile.jpg    1x,
              ./img/covers/ukrainian_artistry-mobile@2x.jpg 2x,
              ./img/covers/ukrainian_artistry-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/ukrainian_artistry-desktop.jpg"
            alt="Ukrainian Artistry"
            class="covers-image"
            data-name="ukrainian_artistry"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/greenharvest-desktop.webp    1x,
              ./img/covers/greenharvest-desktop@2x.webp 2x,
              ./img/covers/greenharvest-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/greenharvest-desktop.jpg    1x,
              ./img/covers/greenharvest-desktop@2x.jpg 2x,
              ./img/covers/greenharvest-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/greenharvest-mobile.webp    1x,
              ./img/covers/greenharvest-mobile@2x.webp 2x,
              ./img/covers/greenharvest-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/greenharvest-mobile.jpg    1x,
              ./img/covers/greenharvest-mobile@2x.jpg 2x,
              ./img/covers/greenharvest-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/greenharvest-desktop.jpg"
            alt="Green Harvest"
            class="covers-image"
            data-name="greenharvest"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/wallet-desktop.webp    1x,
              ./img/covers/wallet-desktop@2x.webp 2x,
              ./img/covers/wallet-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/wallet-desktop.jpg    1x,
              ./img/covers/wallet-desktop@2x.jpg 2x,
              ./img/covers/wallet-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/wallet-mobile.webp    1x,
              ./img/covers/wallet-mobile@2x.webp 2x,
              ./img/covers/wallet-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/wallet-mobile.jpg    1x,
              ./img/covers/wallet-mobile@2x.jpg 2x,
              ./img/covers/wallet-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/wallet-desktop.jpg"
            alt="Wallet"
            class="covers-image"
            data-name="wallet"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="covers-line">
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/englishexcellence-desktop.webp    1x,
              ./img/covers/englishexcellence-desktop@2x.webp 2x,
              ./img/covers/englishexcellence-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/englishexcellence-desktop.jpg    1x,
              ./img/covers/englishexcellence-desktop@2x.jpg 2x,
              ./img/covers/englishexcellence-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/englishexcellence-mobile.webp    1x,
              ./img/covers/englishexcellence-mobile@2x.webp 2x,
              ./img/covers/englishexcellence-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/englishexcellence-mobile.jpg    1x,
              ./img/covers/englishexcellence-mobile@2x.jpg 2x,
              ./img/covers/englishexcellence-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/englishexcellence-desktop.jpg"
            alt="English Excellence"
            class="covers-image"
            data-name="englishexcellence"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/starlightstudio-desktop.webp    1x,
              ./img/covers/starlightstudio-desktop@2x.webp 2x,
              ./img/covers/starlightstudio-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/starlightstudio-desktop.jpg    1x,
              ./img/covers/starlightstudio-desktop@2x.jpg 2x,
              ./img/covers/starlightstudio-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/starlightstudio-mobile.webp    1x,
              ./img/covers/starlightstudio-mobile@2x.webp 2x,
              ./img/covers/starlightstudio-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/starlightstudio-mobile.jpg    1x,
              ./img/covers/starlightstudio-mobile@2x.jpg 2x,
              ./img/covers/starlightstudio-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/starlightstudio-desktop.jpg"
            alt="Starlight Studio"
            class="covers-image"
            data-name="starlightstudio"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/chego-jewelry-desktop.webp    1x,
              ./img/covers/chego-jewelry-desktop@2x.webp 2x,
              ./img/covers/chego-jewelry-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/chego-jewelry-desktop.jpg    1x,
              ./img/covers/chego-jewelry-desktop@2x.jpg 2x,
              ./img/covers/chego-jewelry-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/chego-jewelry-mobile.webp    1x,
              ./img/covers/chego-jewelry-mobile@2x.webp 2x,
              ./img/covers/chego-jewelry-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/chego-jewelry-mobile.jpg    1x,
              ./img/covers/chego-jewelry-mobile@2x.jpg 2x,
              ./img/covers/chego-jewelry-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/chego-jewelry-desktop.jpg"
            alt="Chego Jewelry"
            class="covers-image"
            data-name="chego-jewelry"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/energyflow-desktop.webp    1x,
              ./img/covers/energyflow-desktop@2x.webp 2x,
              ./img/covers/energyflow-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/energyflow-desktop.jpg    1x,
              ./img/covers/energyflow-desktop@2x.jpg 2x,
              ./img/covers/energyflow-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/energyflow-mobile.webp    1x,
              ./img/covers/energyflow-mobile@2x.webp 2x,
              ./img/covers/energyflow-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/energyflow-mobile.jpg    1x,
              ./img/covers/energyflow-mobile@2x.jpg 2x,
              ./img/covers/energyflow-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/energyflow-desktop.jpg"
            alt="Energy Flow"
            class="covers-image"
            data-name="energyflow"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/fruitbox-desktop.webp    1x,
              ./img/covers/fruitbox-desktop@2x.webp 2x,
              ./img/covers/fruitbox-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/fruitbox-desktop.jpg    1x,
              ./img/covers/fruitbox-desktop@2x.jpg 2x,
              ./img/covers/fruitbox-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/fruitbox-mobile.webp    1x,
              ./img/covers/fruitbox-mobile@2x.webp 2x,
              ./img/covers/fruitbox-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/fruitbox-mobile.jpg    1x,
              ./img/covers/fruitbox-mobile@2x.jpg 2x,
              ./img/covers/fruitbox-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/fruitbox-desktop.jpg"
            alt="Fruit Box"
            class="covers-image"
            data-name="fruitbox"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <ul class="covers-line">
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/ukrainian_artistry-desktop.webp    1x,
              ./img/covers/ukrainian_artistry-desktop@2x.webp 2x,
              ./img/covers/ukrainian_artistry-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/ukrainian_artistry-desktop.jpg    1x,
              ./img/covers/ukrainian_artistry-desktop@2x.jpg 2x,
              ./img/covers/ukrainian_artistry-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/ukrainian_artistry-mobile.webp    1x,
              ./img/covers/ukrainian_artistry-mobile@2x.webp 2x,
              ./img/covers/ukrainian_artistry-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/ukrainian_artistry-mobile.jpg    1x,
              ./img/covers/ukrainian_artistry-mobile@2x.jpg 2x,
              ./img/covers/ukrainian_artistry-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/ukrainian_artistry-desktop.jpg"
            alt="Ukrainian Artistry"
            class="covers-image"
            data-name="ukrainian_artistry"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/greenharvest-desktop.webp    1x,
              ./img/covers/greenharvest-desktop@2x.webp 2x,
              ./img/covers/greenharvest-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/greenharvest-desktop.jpg    1x,
              ./img/covers/greenharvest-desktop@2x.jpg 2x,
              ./img/covers/greenharvest-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/greenharvest-mobile.webp    1x,
              ./img/covers/greenharvest-mobile@2x.webp 2x,
              ./img/covers/greenharvest-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/greenharvest-mobile.jpg    1x,
              ./img/covers/greenharvest-mobile@2x.jpg 2x,
              ./img/covers/greenharvest-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/greenharvest-desktop.jpg"
            alt="Green Harvest"
            class="covers-image"
            data-name="greenharvest"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/wallet-desktop.webp    1x,
              ./img/covers/wallet-desktop@2x.webp 2x,
              ./img/covers/wallet-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/wallet-desktop.jpg    1x,
              ./img/covers/wallet-desktop@2x.jpg 2x,
              ./img/covers/wallet-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/wallet-mobile.webp    1x,
              ./img/covers/wallet-mobile@2x.webp 2x,
              ./img/covers/wallet-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/wallet-mobile.jpg    1x,
              ./img/covers/wallet-mobile@2x.jpg 2x,
              ./img/covers/wallet-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/wallet-desktop.jpg"
            alt="Wallet"
            class="covers-image"
            data-name="wallet"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/powerpulse-desktop.webp    1x,
              ./img/covers/powerpulse-desktop@2x.webp 2x,
              ./img/covers/powerpulse-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/powerpulse-desktop.jpg    1x,
              ./img/covers/powerpulse-desktop@2x.jpg 2x,
              ./img/covers/powerpulse-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/powerpulse-mobile.webp    1x,
              ./img/covers/powerpulse-mobile@2x.webp 2x,
              ./img/covers/powerpulse-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/powerpulse-mobile.jpg    1x,
              ./img/covers/powerpulse-mobile@2x.jpg 2x,
              ./img/covers/powerpulse-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/powerpulse-desktop.jpg"
            alt="Power Pulse"
            class="covers-image"
            data-name="powerpulse"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="covers-item">
        <picture>
          <source
            srcset="
              ./img/covers/mimino-desktop.webp    1x,
              ./img/covers/mimino-desktop@2x.webp 2x,
              ./img/covers/mimino-desktop@3x.webp 3x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/mimino-desktop.jpg    1x,
              ./img/covers/mimino-desktop@2x.jpg 2x,
              ./img/covers/mimino-desktop@3x.jpg 3x
            "
            media="(min-width: 768px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./img/covers/mimino-mobile.webp    1x,
              ./img/covers/mimino-mobile@2x.webp 2x,
              ./img/covers/mimino-mobile@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/covers/mimino-mobile.jpg    1x,
              ./img/covers/mimino-mobile@2x.jpg 2x,
              ./img/covers/mimino-mobile@3x.jpg 3x
            "
            type="image/jpg"
          />
          <img
            src="./img/covers/mimino-desktop.jpg"
            alt="Mimino"
            class="covers-image"
            data-name="mimino"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
