<section class="faq" id="faq">
  <div class="container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="faq-list-ul">
      <li class="list-faq">
        <h3 class="title-list">
          What programming languages are most often used in your project?
          <button class="toggle-btn" aria-expanded="false">
            <svg class="icon icon-open" width="20" height="20">
              <use href="./img/icons.svg#expand"></use>
            </svg>
            <svg class="icon icon-close" width="20" height="20">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <p class="text-faq">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="list-faq">
        <h3 class="title-list">
          What are the deadlines for the project?
          <button class="toggle-btn" aria-expanded="false">
            <svg class="icon icon-open" width="20" height="20">
              <use href="./img/icons.svg#expand"></use>
            </svg>
            <svg class="icon icon-close" width="20" height="20">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <p class="text-faq">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="list-faq">
        <h3 class="title-list">
          What payment methods do you accept?
          <button class="toggle-btn" aria-expanded="false">
            <svg class="icon icon-open" width="20" height="20">
              <use href="./img/icons.svg#expand"></use>
            </svg>
            <svg class="icon icon-close" width="20" height="20">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <p class="text-faq">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="list-faq">
        <h3 class="title-list">
          How can I contact you?
          <button class="toggle-btn" aria-expanded="false">
            <svg class="icon icon-open" width="20" height="20">
              <use href="./img/icons.svg#expand"></use>
            </svg>
            <svg class="icon icon-close" width="20" height="20">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <p class="text-faq">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="list-faq">
        <h3 class="title-list">
          Do you provide advice or support?
          <button class="toggle-btn" aria-expanded="false">
            <svg class="icon icon-open" width="20" height="20">
              <use href="./img/icons.svg#expand"></use>
            </svg>
            <svg class="icon icon-close" width="20" height="20">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <p class="text-faq">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="list-faq">
        <h3 class="title-list">
          What does the process of developing a software product look like from
          idea to implementation?
          <button class="toggle-btn last" aria-expanded="false">
            <svg class="icon icon-open" width="20" height="20">
              <use href="./img/icons.svg#expand"></use>
            </svg>
            <svg class="icon icon-close" width="20" height="20">
              <use href="./img/icons.svg#collapse"></use>
            </svg>
          </button>
        </h3>
        <p class="text-faq">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
