<header class="header fixed">
  <div class="header-content-wrap container">
    <div class="logo-wrapper">
      <a href="./index.html" class="logo">
        <picture>
          <source
            srcset="
              ./img/header/logo.webp    1x,
              ./img/header/logo@2x.webp 2x,
              ./img/header/logo@3x.webp 3x
            "
            type="image/webp"
          />

          <source
            srcset="
              ./img/header/logo.jpg       1x,
              ./img/header/logo@2x.jpg    2x,
              ./img/header/logo@3x.jpg    3x
            "
            type="image/jpg"
          />

          <img
            src="./img/header/logo.jpg"
            class="logo-img"
            alt="Lloyd Jefferson"
            width="60"
            height="60"
          />
        </picture>
        <span class="logo-text">jefferson&ast;</span>
      </a>
    </div>
    <div class="menu">
      <button class="menu-btn">Menu</button>
      <ul class="menu-list">
        <li class="menu-item">
          <a class="menu-link" href="#about-me">About me</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#projects">Projects</a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#faq">FAQ</a></li>
      </ul>
    </div>
    <button
      class="mobile-menu-btn"
      aria-label="Open mobile menu"
      aria-expanded="false"
      aria-controls="menu"
    >
      <svg class="open-menu-mob">
        <use href="./img/icons.svg#burger" class="open-menu-mob-icon"></use>
      </svg>
    </button>
    <a href="#work-together" class="order-btn">Order the project</a>
  </div>
</header>
<div class="modal">
  <div class="mobile-menu-wrap">
    <div class="container">
      <button class="close-menu-btn">
        <svg class="close-menu">
          <use href="./img/icons.svg#close" class="close-icon"></use>
        </svg>
      </button>
      <ul class="mobile-menu-list">
        <li class="menu-item">
          <a class="menu-link" href="#about-me">About me</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#projects">Projects</a>
        </li>
        <li class="menu-item"><a class="menu-link" href="#faq">FAQ</a></li>
      </ul>
      <a class="order" href="#work-together">Order the project</a>
    </div>
  </div>
</div>
