<section class="hero section-hero container" id="hero">
  <div class="container">
    <h1 class="logo-lloyd-hero">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="ul-hero">
      <li class="li-hero">
        <a
          class="link-hero"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          aria-label="Instagram account link"
          >IG</a
        >
      </li>
      <li class="li-hero">
        <a
          class="link-hero"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          aria-label="Facebook account link"
          >FB</a
        >
      </li>
      <li class="li-hero">
        <a
          class="link-hero"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          aria-label="YouTube account link"
          >YT</a
        >
      </li>
      <li class="li-hero">
        <a
          class="link-hero"
          href="https://github.com/KoptevAnton/lloydjefferson.site"
          target="_blank"
          aria-label="GitHub rep link"
          >GH</a
        >
      </li>
      <li class="li-hero li-hero-email">
        <a
          class="link-hero-email"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          aria-label="contact email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
