<section class="section section-margin reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper reviews-swiper-wrapper"></ul>
      <div class="reviews-swiper-btn-container reviews-btn-wrap">
        <button
          type="button"
          class="swiper-button-prev reviews-prev-btn"
          aria-label="previous button"
        >
          <svg class="reviews-button-icon" width="24px" height="24px">
            <use href="./img/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button
          type="button"
          class="swiper-button-next reviews-next-btn"
          aria-label="next button"
        >
          <svg class="reviews-button-icon" width="24px" height="24px">
            <use href="./img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
