<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="rviews-list-wrap swiper-reviews swiper">
      <ul class="reviews-list-swiper-wrapper swiper-wrapper"></ul>
      <div class="reviews-btn-wrap">
        <button class="reviews-btn-prev swiper-button-prev" type="button">
          <svg class="reviews-button-icon" width="24px" height="24px">
            <use href="./img/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="reviews-btn-next swiper-button-next">
          <svg class="reviews-button-icon" width="24px" height="24px">
            <use href="./img/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
