<section class="section reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="rewiews-list-wrap swiper-container">
      <ul class="rewiews-list swiper-wrapper"></ul>
      <div class="rewiews-btn-wrap">
        <button class="rewiews-btn-prev" type="button">
          <svg class="rewiews-btn-icon">
            <use href=""></use>
          </svg>
        </button>
        <button type="button" class="rewiews-btn-next">
          <svg class="rewiews-button-icon">
            <use href=""></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
