.projects {
  &__title {
    margin-bottom: 32px;
    @include set-font-s-w-lh-ls-c(16px, 600, null, null, $sec-white-color);
    text-transform: uppercase;
  }

  &__swiper-container {
    overflow: hidden;
  }

  &__swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }

  &__swiper-slide {
    border-radius: 24px;
    width: 100%;
    overflow: hidden;
  }

  &__content--light {
    background-color: darken($main-white-color, 5%);
    padding: 32px;
  }

  &__tech-list {
    margin-bottom: 96px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    line-height: 1.2;
    color: $dark-color;
  }
  &__tech-item {
    border-radius: 60px;
    border: 1px solid $low-dark-color;
    padding: 13px 18px;
  }

  &__slide-title {
    margin-bottom: 32px;
    @include set-font-s-w-lh-ls-c(24px, 500, 1.16, -0.03em, $dark-color);
  }

  &__link {
    @extend %flex-centered;
    width: 141px;
    height: 45px;
    border-radius: 60px;
    padding: 13px 32px;
    background: var(--main-color);
    color: $main-white-color;
    transition: all 300ms ease-in-out;
    &:hover,
    &:focus {
      outline: 1px solid $low-black-color;
      background-color: var(--hover-color);
      transform: scale(1.1);
    }
  }

  &__content--dark {
    @extend %flex-centered;
    padding: 100px 16px;
    background-color: lighten($dark-bg-color, 0.5%);
  }

  &__button-wrapper {
    @extend %flex-centered;
    margin-top: 32px;
    gap: 12px;
  }

  &__button {
    @extend %flex-centered;
    border: 1px solid $add-white-color;
    border-radius: 50%;
    padding: 14px;
    background-color: transparent;
    fill: none;
    stroke: $main-white-color;
    transition: all 300ms ease-in-out;
    &:hover {
      border: 1px solid $main-white-color;
    }
    &:focus {
      background-color: var(--hover-color);
      fill: none;
    }
  }

  &__button-icon {
    width: 24px;
    height: 24px;
  }

  .swiper-button-disabled {
    stroke: $disabled-color;
    border: 1px solid $low-white-color;
  }

  /* tablet */
  @media only screen and (min-width: 768px) {
    &__content--light {
      padding: 64px 146px 64px 64px;
    }

    &__content--dark {
      padding: 120px 45px;
    }

    &__tech-list {
      margin-bottom: 164px;
    }

    &__tech-item {
      padding: 18px 18px;
    }

    &__slide-title {
      @include set-font-s-w-lh-ls-c(44px, null, 1);
    }

    &__button-wrapper {
      margin-top: 64px;
      gap: 20px;
    }

    &__link {
      width: 177px;
      height: 55px;
      padding: 18px 50px;
    }

    &__button {
      padding: 18px;
    }

    &__button-icon {
      width: 32px;
      height: 32px;
    }
  }

  /* desktop */
  @media only screen and (min-width: 1440px) {
    &__content--light {
      padding-right: 130px;
      width: 50%;
    }

    &__content--dark {
      padding: 120px 37px;
      width: 50%;
    }

    &__tech-list {
      margin-bottom: 223px;
    }

    &__swiper-slide.swiper-slide {
      display: flex;
    }
  }
}
