$main-white-color: rgba(250, 250, 250);
$sec-white-color: rgba(250, 250, 250, 0.6);
$add-white-color: rgba(250, 250, 250, 0.5);
$low-white-color: rgba(250, 250, 250, 0.2);
$dark-color: rgba(28, 29, 32);
$low-dark-color: rgba(28, 29, 32, 0.2);
$low-black-color: rgba(0, 0, 0, 0.2);
$disabled-color: rgb(59, 59, 59);
$dark-bg-color: rgba(36, 37, 39);
