.benefits-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 32px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
}

.benefits-item {
  border-radius: 20px;
  padding: 24px;
  max-width: 344px;
  height: 270px;
  background: #242527;
}

.benefits-wrap {
  display: flex;
  background: var(--main-color);
  border-radius: 10px;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}

.benefits-icon {
  fill: transparent;
  stroke-width: 2px;
  stroke: #fafafa;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.benefits-text {
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  overflow-y: scroll;
}

.benefits-text::-webkit-scrollbar {
  width: 12px;
}

.benefits-text::-webkit-scrollbar-track {
  background: transparent;
}

.benefits-text::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 20px;
  border: 1px solid rgba(36, 37, 39, 1);
}

.benefits-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 34px;
  width: 187px;
  height: 55px;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: transparent;
  transition: transform 300ms ease-in-out, border 300ms ease-in-out,
    background-color 300ms ease-in-out;
}

.benefits-button:hover {
  transform: scale(1.1);
  border: 1px solid #fff;
}
.benefits-button:focus {
  transform: scale(1.1);
  border: 1px solid #fff;
  background-color: rgba(224, 55, 63);
  transform: scale(1.1);
  background-color: var(--hover-color);
}

@media screen and (min-width: 768px) {
  .benefits-list {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-container {
    display: flex;
  }

  .benefits-title {
    display: block;
    max-width: 688px;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
  }

  .benefits-item {
    width: 332px;
  }
}
