.faq {
  width: 100%;
  margin-bottom: 64px;
}

.title-faq {
  font-weight: 600;
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  margin-bottom: 32px;
}

.faq-list-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-faq {
  padding: 20px 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.list-faq:first-of-type {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -16px;
  border-radius: 25px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 600;
  min-width: 265px;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out, border 300ms ease-in-out;
}

.title-list:hover {
  box-shadow: 6px 6px 25px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}

.title-list:hover .toggle-btn {
  border: 1px solid #fff;
}

.text-faq {
  margin-top: 16px;
  color: rgba(250, 250, 250, 0.6);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.list-faq[aria-expanded='true'] .text-faq {
  max-height: 200px; /* Adjust based on the content */
  opacity: 1;
}

.toggle-btn {
  flex-shrink: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  margin-left: 44px;
  fill: none;
  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.toggle-btn:focus {
  background-color: var(--hover-color);
  border: 1px solid #fff;
}

.icon {
  width: 24px;
  height: 24px;
  display: none;
}

.icon-open {
  display: block;
  stroke: #fafafa;
}

.icon-close {
  display: none;
  stroke: #fafafa;
}

@media only screen and (min-width: 768px) {
  .title-list {
    border-radius: 50px;
  }

  .faq {
    margin-bottom: 96px;
  }

  .list-faq {
    padding: 32px 0;
  }

  .last {
    margin-left: 179px;
  }

  .text-faq {
    max-width: 656px;
    margin-top: 26px;
  }

  .toggle-btn {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .list-faq:nth-of-type(2) {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
  }

  .title-faq {
    margin-left: 20px;
  }

  .faq {
    margin-bottom: 164px;
  }

  .list-faq:nth-child(odd) {
    padding-right: 20px;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  .list-faq:nth-child(even) {
    padding-left: 20px;
  }

  .faq-list-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .list-faq {
    width: calc(50% - 1px);
    margin-right: 1px;
  }
}
