@font-face {
  font-family: 'Inter Tight';
  src: url(./fonts/InterTight-Medium.ttf);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Inter Tight';
  src: url(./fonts/InterTight-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
