.header{
    z-index: 2;
    position: absolute;
    width: 100%;
    min-width: 320px;
    max-width: 375px;
    background-color: transparent;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.header-content-wrap{
    display: flex;
    align-items: start;
    justify-content:space-between;
}

.logo{
   display: flex;
}

.logo-img{
    border-radius: 18px;
}

.logo-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    padding-left: 8px;
}

.menu{
    display: none;
}

.mobile-menu-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: transparent;       
    width: 28px;
    height: 28px;
}

.open-menu-mob{
    width: 28px;
    height: 28px;
    display: block;
}

.open-menu-mob-icon{
    stroke: #fafafa;
}

.logo-nickname{
    display: block;
    position: relative;
    width: 200px;
    height: 50px;

}

.nickname-icon {
    fill: #fafafa;
}

.order-btn{
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 812px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
}

.mobile-menu-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/header/mobile-menu-background.png);
    background-size:cover;
    background-repeat: no-repeat;
}

.mobile-menu-wrap > .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 0;
    padding-bottom: 64px;
}

.close-menu-btn {
    display: block;
    position: absolute;
    top: 32px;
    right: 16px;
    width: 42px;
    height: 42px;
    padding: 7px;
    background-color: transparent;
    border: none;
}

.close-menu {
    stroke-width: 2px;
    width: 28px;
    height: 28px;
    stroke: #fafafa;
}


.close-icon {
    z-index: 3;
}

.mobile-menu {
    display: flex;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px auto;
    height: 100%;
    align-items: center;
    gap: 12px;
}

.menu-item {
    text-decoration: underline;
}

.menu-link{
    display: flex;
}

.order {
    display: block;
    font-size: 14px;
    text-decoration: none;
    width: 164px;
    margin-top: auto;
    margin: 0 auto;
    border-radius: 60px;
    text-align: center;
    padding: 14px 31px;
    border: none;
    background-color: #ED3B44;
}

@media (min-resolution: 2dppx),
(-webkit-min-device-pixel-ratio: 2) {
    .mobile-menu-wrap {
        background-image: url(../img/header/mobile-menu-background@2x.jpg);
    }
}

@media (min-resolution: 3dppx),
(-webkit-min-device-pixel-ratio: 3) {
    .mobile-menu-wrap {
        background-image: url(../img/header/mobile-menu-background@3x.jpg);
    }
}

@supports (background-image: url(image.webp)) {
    .mobile-menu-wrap {
        background-image: url(../img/header/mobile-menu-background.webp);
    }

    @media (min-resolution: 2dppx),
    (-webkit-min-device-pixel-ratio: 2) {
        .mobile-menu-wrap {
            background-image: url(../img/header/mobile-menu-background@2x.webp);
        }
    }

    @media (min-resolution: 3dppx),
    (-webkit-min-device-pixel-ratio: 3) {
        .mobile-menu-wrap {
            background-image: url(../img/header/mobile-menu-background@3x.webp);
        }
    }
}

@media screen and (max-width: 768px){
    body.no-scroll {
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    .header{
        max-width: 768px;
    }

    .header>.container{
     padding: 0 32px;
     margin: 0;
    }

    .modal{
        display: none;
    }

    .menu{
        display: block;
    }

    .menu-btn{
        display: block;
        padding: 10px;
        color: #fafafa;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-decoration-skip-ink: none;
        text-decoration: underline;
        background-color: transparent;
        border: none;
    }

    
    .menu-list {
        text-align: center;
        padding-top: 8px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 300ms cubic-bezier(.4, 0, .2, 1);
    }
    
    .menu-item {
        text-decoration: none;
        transition: color 300ms cubic-bezier(.4, 0, .2, 1);
    }

    .menu-link{
        line-height: 1.2;
    }

    .menu-item:hover{
        color:#ed3b44;
    }

    .mobile-menu-btn{
        display: none;
    }

    .order-btn{
        display: block;
        border-radius: 60px;
        padding: 18px 24px;
        border: none;
        line-height: 1.2;
        background-color: #ED3B44;
        transition: backround-color 300ms ease-in-out, transform 300ms ease-in-out;
    }

    .order-btn:hover{
        background-color:#e0373f;
        transform: scale(1.05);
    }
}

@media screen and (min-width: 1440px) {    
    .header {
        max-width: 1440px;
    }

    .logo {
        display: flex;
        transition: transform 300ms ease-in, color 300ms ease-in;
    }

    .logo:hover {
        color: #e0373f;
        transform: scale(1.05);
    }

    .menu-btn{
        transition: color 300ms ease-in-out;
    }

    .menu-btn:hover{
        color: #e0373f;
    }
}


.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

