.header {
  z-index: 2;
  position: fixed;
  width: 100%;
  padding-top: 32px;
  height: 76px;
  transition: max-width 0.3s ease;
}

.header-bg {
  background-color: rgba(0, 0, 0, 0.4);
}

.header-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
}

.logo {
  display: flex;
}

.logo-img {
  border-radius: 18px;
  width: 60px;
}

.logo-wrapper {
  transform: translate(0%, 0%);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hide {
  transform: translate(0%, -140%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  padding-left: 8px;
}

.menu {
  display: none;
}

/*change color theme*/
.change-color-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
}

.change-color-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  text-decoration: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  text-align: center;
  padding: 14px;
  outline: none;
  background-color: var(--main-color);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color-btn:hover,
.change-color-btn:focus {
  background-color: var(--hover-color);
  outline: 1px solid #fff;
  transform: scale(1.1);
}

.change-color-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.change-color {
  position: absolute;
  transform: translate(100%, 100%);
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  display: block;
  z-index: 999;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open-change-color {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  right: 50%;
  transform: translate(50%, 0%);
  bottom: 79px;
}

.theme-colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 116px;
  gap: 12px;
}

.color-option {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-option:hover,
.color-option:focus {
  transform: scale(1.2);
  box-shadow: 0 0 2px var(--hover-color), 0 0 4px var(--hover-color),
    0 0 6px var(--hover-color), 0 0 8px var(--hover-color),
    0 0 10px var(--hover-color);
}

.red-theme-option {
  background-color: #ed3b44;
}

.lime-theme-option {
  background-color: #677908;
}

.blue-theme-option {
  background-color: #3368f1;
}

.pink-theme-option {
  background-color: #c61ea4;
}

.aquamarine-theme-option {
  background-color: #417d77;
}

.orange-theme-option {
  background-color: #a56326;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 28px;
  height: 28px;
}

.mobile-menu-btn:focus .open-menu-mob-icon {
  stroke: var(--hover-color);
  transform: scale(1.15);
}
.open-menu-mob-icon {
  stroke: #fafafa;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-menu-mob {
  width: 28px;
  height: 28px;
  display: block;
}

.open-menu-mob-icon {
  stroke: #fafafa;
}

.logo-nickname {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
}

.nickname-icon {
  fill: #fafafa;
}

.order-btn {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translate(100%, -100%) scale(0);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open-modal {
  transform: translate(0%, 0%) scale(1);

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-wrap {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--middle-color) 32%,
    #1c1d20 50%,
    #1c1d20 100%
  );
  position: relative;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 64px;
}

.mobile-menu-wrap::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: -210px;
  width: 520px;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    rgba(0, 0, 0, 0.8) 5px,
    rgba(0, 0, 0, 0.9) 5px,
    rgba(0, 0, 0, 0.9) 6px,
    rgba(0, 0, 0, 0) 52px
  );
  pointer-events: none;
  opacity: 0.2;
}

.mobile-menu-wrap > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
  padding-bottom: 64px;
}

.close-menu-btn {
  display: block;
  position: absolute;
  top: 32px;
  right: 16px;
  width: 42px;
  height: 42px;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.close-menu-btn:focus .close-icon {
  transform: scale(1.05);
  stroke: var(--hover-color);
}

.close-menu {
  stroke-width: 2px;
  width: 28px;
  height: 28px;
  stroke: #fafafa;
}

.close-icon {
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;
}

.mobile-menu {
  display: flex;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px auto;
  height: 100%;
  align-items: center;
  gap: 12px;
}

.menu-item {
  text-decoration: underline;
}

.menu-link {
  display: flex;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:focus {
  transform: scale(1.05);
  color: var(--hover-color);
}

.order {
  display: block;
  font-size: 14px;
  text-decoration: none;
  width: 164px;
  margin-top: auto;
  margin: 0 auto;
  border-radius: 60px;
  text-align: center;
  padding: 14px 31px;
  border: none;
  background-color: var(--main-color);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: order-btn 4s ease-out infinite both;
}

.order:focus {
  background-color: var(--hover-color);
  outline: 1px solid #fafafa;
  box-shadow: 0 0 2px var(--hover-color), 0 0 4px var(--hover-color),
    0 0 6px var(--hover-color), 0 0 8px var(--hover-color),
    0 0 10px var(--hover-color);
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .is-open-change-color {
    bottom: 103px;
  }

  .theme-colors {
    gap: 20px;
  }

  .color-option {
    width: 68px;
    height: 68px;
  }

  .change-color-btn {
    font-size: 16px;
    width: 68px;
    height: 68px;
  }

  .logo:hover {
    transform: scale(1.05);
    color: var(--hover-color);
  }

  .header {
    height: 89px;
  }

  .modal {
    display: none;
  }

  .menu-btn {
    display: block;
    padding: 10px;
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    background-color: transparent;
    border: none;
  }

  .menu-list {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-list-scroll {
    flex-direction: row;
    gap: 20px;
  }

  .menu {
    display: block;
    transform: translate(0%, 0%);
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-scroll {
    display: flex;
    gap: 32px;
    transform: translate(-51%, 0%);
  }

  .menu-list.is-open {
    opacity: 1;
    visibility: visible;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item {
    opacity: 0;
    text-decoration: none;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item.visible {
    opacity: 1;
  }

  .menu-link {
    line-height: 1.2;
  }

  .menu-link:hover {
    transform: scale(1.05);
    color: var(--hover-color);
  }

  .mobile-menu-btn {
    display: none;
  }

  .order-btn {
    display: block;
    border-radius: 60px;
    padding: 11px 20px;
    border: none;
    line-height: 1.2;
    background-color: var(--main-color);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    animation: order-btn 4s ease-out infinite both;
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: var(--hover-color);
    outline: 1px solid #fafafa;
    box-shadow: 0 0 2px var(--hover-color), 0 0 4px var(--hover-color),
      0 0 6px var(--hover-color), 0 0 8px var(--hover-color),
      0 0 10px var(--hover-color);
  }
}

@keyframes order-btn {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.05);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  display: flex;
  transition: transform 300ms ease-in, color 300ms ease-in;
}

.logo:focus {
  transform: scale(1.05);
  color: var(--hover-color);
}

.menu-btn {
  transition: all 300ms ease-in;
}

.menu-btn:hover,
.menu-btn:focus {
  transform: scale(1.15);
  color: var(--hover-color);
}

@media screen and (min-width: 1440px) {
  .is-open-change-color {
    bottom: 140px;
  }

  .color-option {
    width: 100px;
    height: 100px;
  }

  .change-color-btn {
    font-size: 22px;
    width: 100px;
    height: 100px;
  }

  .change-color-button-wrapper {
    bottom: 20px;
    right: 20px;
  }

  .menu-scroll {
    transform: translate(-145%, 0%);
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
