.header {
  z-index: 2;
  position: absolute;
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  background-color: transparent;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.header-content-wrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo-img {
  border-radius: 18px;
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  padding-left: 8px;
}

.menu {
  display: none;
}

.change-color {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  width: 160px;
  height: 104px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.change-color-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}

.change-color-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  font-size: 12px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  text-align: center;
  padding: 14px;
  border: none;
  background-color: var(--main-color);
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out,
    border 300ms ease-in-out;
}

.change-color-btn:hover,
.change-color-btn:focus {
  background-color: var(--hover-color);
  border: 1px solid #fff;
  transform: scale(1.1);
}

.theme-colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
}

.color-option {
  flex-basis: 48px;
  height: 48px;
  border-radius: 50px;
}

.red-theme-option {
  background-color: #ed3b44;
}

.lime-theme-option {
  background-color: #c6e327;
}

.blue-theme-option {
  background-color: #0041e8;
}

.pink-theme-option {
  background-color: #e6533c;
}

.aquamarine-theme-option {
  background-color: #2b4441;
}

.orange-theme-option {
  background-color: #ff7f08;
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 28px;
  height: 28px;
}

.mobile-menu-btn:focus .open-menu-mob-icon {
  stroke: var(--hover-color);
  transform: scale(1.15);
}
.open-menu-mob-icon {
  stroke: #fafafa;
  transition: all 300ms ease-in-out;
}

.open-menu-mob {
  width: 28px;
  height: 28px;
  display: block;
}

.open-menu-mob-icon {
  stroke: #fafafa;
}

.logo-nickname {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
}

.nickname-icon {
  fill: #fafafa;
}

.order-btn {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-wrap {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--middle-color) 32%,
    #1c1d20 50%,
    #1c1d20 100%
  );
  position: relative;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 64px;
}

.mobile-menu-wrap::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  left: -210px;
  width: 520px;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    rgba(0, 0, 0, 0.8) 5px,
    rgba(0, 0, 0, 0.9) 5px,
    rgba(0, 0, 0, 0.9) 6px,
    rgba(0, 0, 0, 0) 52px
  );
  pointer-events: none;
  opacity: 0.2;
}

.mobile-menu-wrap > .container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0;
  padding-bottom: 64px;
}

.close-menu-btn {
  display: block;
  position: absolute;
  top: 32px;
  right: 16px;
  width: 42px;
  height: 42px;
  padding: 7px;
  background-color: transparent;
  border: none;
}

.close-menu-btn:focus .close-icon {
  transform: scale(1.05);
  stroke: var(--hover-color);
}

.close-menu {
  stroke-width: 2px;
  width: 28px;
  height: 28px;
  stroke: #fafafa;
}

.close-icon {
  transition: all 300ms ease-in-out;
  z-index: 3;
}

.mobile-menu {
  display: flex;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px auto;
  height: 100%;
  align-items: center;
  gap: 12px;
}

.menu-item {
  text-decoration: underline;
}

.menu-link {
  display: flex;
  transition: all 300ms ease-in-out;
}

.menu-link:focus {
  transform: scale(1.05);
  color: var(--main-color);
}

.order:focus {
  background-color: var(--hover-color);
  outline: 1px solid #fafafa;
  box-shadow: -1px -1px 4px var(--hover-color), 1px 1px 6px var(--hover-color);
  transform: translateY(-2px);
}

.order {
  display: block;
  font-size: 14px;
  text-decoration: none;
  width: 164px;
  margin-top: auto;
  margin: 0 auto;
  border-radius: 60px;
  text-align: center;
  padding: 14px 31px;
  border: none;
  background-color: var(--main-color);
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 768px) {
  body.no-scroll {
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  .change-color {
    width: 176px;
    height: 117px;
  }

  .color-option {
    flex-basis: 58px;
    height: 58px;
  }

  .change-color-btn {
    font-size: 16px;
    width: 75px;
    height: 75px;
  }

  .change-color-button-wrapper {
    bottom: 10px;
    right: 10px;
  }

  .logo:hover {
    transform: scale(1.05);
    color: var(--hover-color);
  }

  .header {
    max-width: 768px;
  }

  .header > .container {
    padding: 0 32px;
    margin: 0;
  }

  .modal {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu-btn {
    display: block;
    padding: 10px;
    color: #fafafa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-decoration-skip-ink: none;
    text-decoration: underline;
    background-color: transparent;
    border: none;
  }

  .menu-list {
    text-align: center;
    padding-top: 8px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-item {
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link {
    line-height: 1.2;
  }

  .menu-item:hover {
    transform: scale(1.05);
    color: var(--main-color);
  }

  .mobile-menu-btn {
    display: none;
  }

  .order-btn {
    display: block;
    border-radius: 60px;
    padding: 18px 24px;
    border: none;
    line-height: 1.2;
    background-color: var(--main-color);
    transition: all 300ms ease-in-out;
  }

  .order-btn:hover,
  .order-btn:focus {
    background-color: var(--hover-color);
    outline: 1px solid #fafafa;
    box-shadow: -1px -1px 4px var(--hover-color), 1px 1px 6px var(--hover-color);
    transform: translateY(3px);
  }
}

.logo {
  display: flex;
  transition: transform 300ms ease-in, color 300ms ease-in;
}

.logo:focus {
  transform: scale(1.05);
  color: var(--hover-color);
}

.menu-btn {
  transition: all 300ms ease-in;
}

.menu-btn:hover,
.menu-btn:focus {
  transform: scale(1.15);
  color: var(--hover-color);
}

@media screen and (min-width: 1440px) {
  .change-color {
    width: 206px;
    height: 137px;
  }

  .color-option {
    flex-basis: 68px;
    height: 68px;
  }

  .change-color-btn {
    font-size: 18px;
    width: 95px;
    height: 95px;
  }

  .change-color-button-wrapper {
    bottom: 15px;
    right: 15px;
  }

  .header {
    max-width: 1440px;
  }
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
