.section-hero {
  min-height: 812px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(
    to right,
    var(--main-color),
    var(--middle-color) 32%,
    #1c1d20 50%,
    #1c1d20 100%
  );
  position: relative;
  overflow: hidden;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 64px;
}

.section-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: -210px;
  width: 520px;
  height: 100%;
  background: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) 1px,
    rgba(0, 0, 0, 0.8) 5px,
    rgba(0, 0, 0, 0.9) 5px,
    rgba(0, 0, 0, 0.9) 6px,
    rgba(0, 0, 0, 0) 52px
  );
  pointer-events: none;
  opacity: 0.2;
}

.section-hero.container {
  width: 100%;
  max-width: none;
}
@media only screen and (min-width: 768px) {
  .section-hero {
    min-height: 1024px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .section-hero::before {
    left: -143px;
    width: 720px;
    background: repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5) 1px,
      rgba(0, 0, 0, 0.8) 11px,
      rgba(0, 0, 0, 0.9) 11px,
      rgba(0, 0, 0, 0.9) 12px,
      rgba(0, 0, 0, 0) 72px
    );
  }
}
@media only screen and (min-width: 1440px) {
  .section-hero {
    padding-bottom: 32px;
    padding-top: 32px;
    min-height: 900px;
    margin-bottom: 96px;
  }

  .section-hero::before {
    left: -6px;
  }
  .section-hero.container {
    max-width: 1440px;
    padding: 0;
  }
}

.logo-lloyd-hero {
  max-width: 343px;
  margin-bottom: 212px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

@media only screen and (min-width: 768px) {
  .logo-lloyd-hero {
    max-width: 632px;
    font-size: 90px;
    line-height: 1;
    margin-bottom: 187px;
  }
}

@media only screen and (min-width: 1440px) {
  .logo-lloyd-hero {
    max-width: 1084px;
    margin-bottom: 243px;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-lloyd-hero {
  animation-name: slideInDown;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: both;
  opacity: 100%;
}
@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }
  40% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

h1 .h1-animation {
  animation-name: slideInDown;
  opacity: 0%;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
h1 .h1-animation:nth-child(2) {
  animation-delay: 2s;
}
h1 .h1-animation:nth-child(3) {
  animation-delay: 2.2s;
}
h1 .h1-animation:nth-child(4) {
  animation-delay: 2.4s;
}
h1 .h1-animation:nth-child(5) {
  animation-delay: 2.6s;
}
h1 .h1-animation:nth-child(6) {
  animation-delay: 2.8s;
}
h1 .h1-animation:last-child {
  animation-delay: 3s;
}

.ul-hero {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .ul-hero {
    gap: 8px;
  }
}

.li-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  font-family: 'Inter Tight';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: transform 300ms ease-in-out, box-shadow 300ms ease-in-out;

  animation-name: jump;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.li-hero:nth-child(1) {
  animation-delay: 0s;
}
.li-hero:nth-child(2) {
  animation-delay: 1s;
}
.li-hero:nth-child(3) {
  animation-delay: 2s;
}
.li-hero:nth-child(4) {
  animation-delay: 3s;
}
.li-hero:nth-child(5) {
  animation-delay: 5s;
}

.li-hero:hover {
  transform: scale(1.04);
  box-shadow: 0 0 2px var(--hover-color), 0 0 4px var(--hover-color),
    0 0 6px var(--hover-color), 0 0 8px var(--hover-color),
    0 0 10px var(--hover-color);
}

.li-hero.li-hero-email {
  width: 178px;
}
@keyframes jump {
  0% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  1% {
    transform: translateY(-1px) scaleX(0.95) scaleY(1);
  }
  3.5% {
    transform: translateY(-5px) scaleX(0.9) scaleY(0.95);
  }
  5% {
    transform: translateY(-7px) scaleX(0.95) scaleY(0.9);
  }

  7% {
    transform: translateY(-3px) scaleX(0.9) scaleY(1);
  }
  9% {
    transform: translateY(0px) scaleX(0.9) scaleY(1.07);
  }
  11% {
    transform: translateY(-2px) scaleX(0.95) scaleY(1.09);
  }
  13% {
    transform: translateY(-1px) scaleX(0.97) scaleY(1.06);
  }
  13.5% {
    transform: translateY(-1px) scaleX(0.99) scaleY(1.01);
  }
  14% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
  100% {
    transform: translateY(0) scaleX(1) scaleY(1);
  }
}

.link-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out;
}

.link-hero:focus {
  transform: scale(1.4);
  color: var(--hover-color);
}

.link-hero-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 300ms ease-in-out, color 300ms ease-in-out;
}

.link-hero-email:focus {
  color: var(--hover-color);
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .li-hero {
    font-size: 16px;
    line-height: 1.2;
    width: 55px;
    height: 55px;
  }
}

@media only screen and (min-width: 768px) {
  .li-hero.li-hero-email {
    width: 225px;
  }
}
@media (max-width: 367.98px) {
  .ul-hero {
    flex-wrap: wrap;
    justify-content: center;
  }
}
