.projects__title {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.projects__swiper-container {
  overflow: hidden;
}

.projects__swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

.projects__swiper-slide {
  border-radius: 24px;
  width: 100%;
  overflow: hidden;
}

.projects__content--light {
  background-color: rgba(250, 250, 250);
  padding: 32px;
}

.projects__content--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 16px;
  background-color: rgba(36, 37, 39);
}

.projects__tech-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
  line-height: 1.2;
  color: rgba(28, 29, 32);
}

.projects__tech-item {
  padding: 13px 18px;
  border-radius: 60px;
  border: 1px solid rgba(28, 29, 32, 0.2);
}

.projects__slide-title {
  color: rgba(28, 29, 32);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.projects__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 45px;
  padding: 13px 32px;
  border-radius: 60px;
  background: rgba(237, 59, 68);
  color: rgba(250, 250, 250);
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}

.projects__link:hover,
.projects__link:focus {
  background-color: rgba(224, 55, 63);
  transform: scale(1.05);
}

.projects__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.projects__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 14px;
  background-color: transparent;
  fill: none;
  border: 1px solid rgba(250, 250, 250, 0.5);
  stroke: rgba(250, 250, 250);
}

.projects__button-icon {
  width: 24px;
  height: 24px;
}

.swiper-button-disabled {
  stroke: rgb(59, 59, 59);
  border: 1px solid rgba(250, 250, 250, 0.2);
}

/* tablet */
@media only screen and (min-width: 768px) {
  .projects__content--light {
    padding: 64px 146px 64px 64px;
  }

  .projects__content--dark {
    padding: 120px 45px;
  }

  .projects__tech-list {
    margin-bottom: 164px;
  }

  .projects__tech-item {
    padding: 18px 18px;
  }

  .projects__slide-title {
    font-size: 44px;
    line-height: 1;
  }

  .projects__button-wrapper {
    gap: 20px;
    margin-top: 64px;
  }

  .projects__link {
    padding: 18px 50px;
    width: 177px;
    height: 55px;
  }

  .projects__button {
    padding: 18px;
  }

  .projects__button-icon {
    width: 32px;
    height: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .projects__content--light {
    padding-right: 130px;
    width: 50%;
  }

  .projects__content--dark {
    padding: 120px 37px;
    width: 50%;
  }

  .projects__tech-list {
    margin-bottom: 223px;
  }

  .projects__swiper-slide.swiper-slide {
    display: flex;
  }
}
