.reviews-swiper-wrapper {
    margin-bottom: 32px;
}

.reviews-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
    text-align: left;
}


.reviews-swiper-slide {
    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    min-height: 302px !important; 
    transition: opacity 0.6s ease-in-out;
}

.reviews-swiper-slide:hover {
    cursor: pointer;
}
.reviews-swiper-wrapper:hover> :not(:hover){
    opacity: 0.4;
}

.reviews-desc {
    max-width: 295px;
}

.reviews-img {
    border-radius: 10px;
    margin-bottom: 32px;
    width: 48px;
    height: 48px;
}

.reviews-item-subtitle {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.reviews-text {
    height: 120px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    overflow-y: scroll;
}

.reviews-text::-webkit-scrollbar {
    width: 12px;
}

.reviews-text::-webkit-scrollbar-track {
    background: #1c1d20;
}

.reviews-text::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 20px;
    border: 3px solid #1c1d20;
}

.reviews-swiper-btn-container {
    max-width: 116px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.reviews-prev-btn,
.reviews-next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.5);
    background-color: transparent;
    fill: none;
    stroke: white;
    padding: 13px;
}

.swiper-button-disabled {
    border: 1px solid #3b3b3b;
    fill: #3b3b3b;
}

@media screen and (min-width: 320px) {
    .reviews-section {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .reviews-container {
      display: block;
    }
}

@media screen and (min-width: 768px) {
    .reviews-swiper-btn-container {
        max-width: 156px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        width: 68px;
        height: 68px;
        padding: 18px;
    }
    
    .reviews-swiper-slide {
        min-height: 302px;
    }
}

@media only screen and (min-width: 1400px) {
    .reviews-section{
        padding-top: 82px;
        padding-bottom: 82px;
    }
}