/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.min.css');

@import url('./fonts.css');
@import url('./container.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./work-together.css');

:root {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.02em;

  --main-color: #ed3b44;
  --hover-color: #e0373f;
  --middle-color: #69292d;

  color: #fafafa;
  background-color: #1c1d20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
